<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit a Note</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div id="editBody">
        <h1>Edit Note</h1>
        <form action="/notebook/<%= note._id %>?_method=PUT" method="POST">
            <strong>Title: </strong><input type="text" name="title" value="<%= note.title %> "><br><br>
            <strong>Content: </strong><br><textarea type="text" name="content" cols="100" rows="20"><%= note.content %></textarea><br><br>
            <strong>Photo: </strong><input type="file" name="photo" value="<%= note.photo %> ">
            <input type="submit" value="Submit Changes">
        </form>
    </div>
</body>

</html>