<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Note Show Page</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div id="showBody">
        <h1><%= note.title %></h1>
        <div id="firstTwo">
            <p><strong>Created By: </strong><%= note.createdBy.email.split('@')[0]%></p>
            <p><strong>Date: </strong><%= note.timestamp ? note.timestamp.toLocaleDateString() : 'N/A' %></p>
        </div>
        <br>
        <p><strong>Content: </strong><br>
            <div id="showContent"><%= note.content%></div>
        </p>
        <% if(note.photo) {%>
        <img src="<%= note.photo %>" alt="<%=`Image of ${note.title}`%>">
        <!-- <% console.log(note.photo)%>  -->
        <% } %>
    </div>
</body>

</html>